*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    color: white;
    height: 60px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h5{
    font-size: 18px;
}
b{
    color: rgb(45, 45, 128);
}
.copy-to-clipboard-button {
    cursor: pointer;
}

div.code-toolbar>.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar>.toolbar-item>span {
    color: white;
    border: 2px solid white;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(39, 39, 39);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.active {
    background-color: green;
    color: white;
}

.output{
    background-color: #dedede;
    color: rgb(94, 94, 94);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#footer{
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 0px 10px 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}